{% extends "../layout.twig" %}
{% block title %} Mis publicaciones {% endblock %}

{% block main_container %}
    <h1>Mis publicaciones</h1>

    <div class="row">


            {% for publi in publications %}

                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" style="margin: 1rem">


                        <div style="width:200px; margin: 1rem">
                            <h3>{{ publi.title }}</h3>
                            <h5 class=>{{ publi.content }}</h5>
                            <p>{{ publi.dateofcreation }}</p>
                            <img src="/images/{{ publi.pictureURL }}" class="img img-responsive full-width " />
                        </div>


                </div>

            {% endfor %}





    </div>


    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">

            {% for page in pages %}

                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/publications/list?page={{ page }}">{{ page }}</a>
                </li>

            {% endfor %}

            <script>

                $("#pi-"+"{{ currentPage }}").addClass("active");

            </script>


        </ul>
    </div>

{% endblock %}